{% import "path_utils.jinja" as path_utils with context %}

{% set zone = properties["zone"] %}
{% set networks = [] %}
{% for network in properties["network"] %}
{% set _ = networks.append(path_utils.networkPath(network)) %}
{% endfor %}
{% set subnetworks = properties["subnetwork"] %}
{# Software status only works if the VM has an external IP. #}
{% set enableStatusWaiter = hasExternalIP %}
resources:
  - name: {{ env["deployment"] }}-network-tcp-22
    type: compute.v1.firewall
    properties:
      network: {{ networks[0] }}
      sourceRanges: ["0.0.0.0/0"]
      allowed:
        - IPProtocol: TCP
          ports: ["22"]
  {% if properties["enableTcp0-65535"] %}
  - name: {{ env["deployment"] }}-network-tcp-0-65535
    type: compute.v1.firewall
    properties:
      network: {{ networks[0] }}
      sourceTags:
      - {{ env["deployment"] }}-deployment
      allowed:
        - IPProtocol: TCP
          ports: ["0-65535"]
  {% endif %}
  {% if properties["enableUdp0-65535"] %}
  - name: {{ env["deployment"] }}-network-udp-0-65535
    type: compute.v1.firewall
    properties:
      network: {{ networks[0] }}
      sourceTags:
      - {{ env["deployment"] }}-deployment
      allowed:
        - IPProtocol: UDP
          ports: ["0-65535"]
  {% endif %}
  {% if properties["enableIcmp"] %}
  - name: {{ env["deployment"] }}-icmp
    type: compute.v1.firewall
    properties:
      network: {{ networks[0] }}
      sourceTags:
      - {{ env["deployment"] }}-deployment
      allowed:
        - IPProtocol: ICMP
  {% endif %}

